<h1>NEW USER</h1>
<br>
<%= form_for @user do |f| %>
  NAME: <%= f.text_field :name %>
  EMAIL: <%= f.text_field :email %>
  PASSWORD: <%= f.password_field :password %>
  <%= f.submit "CREATE USER" %>
<% end %>
