<% if @car.errors.any? %>
    <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>
    <ul class="list-group">
      <% @car.errors.messages.each do |message| %>
        <li class="list-group-item list-group-item-danger"><%= message[1][0] %></li>
      <% end %>
    </ul>
<% end %>

<%= form_for @car, :html => { :multipart => true } do |f| %>
<form class="form-horizontal" role="form">
	<!-- <div class="form-group">Year <br><%= f.select(:year, 1900..2015) %></div> -->
	<div class="form-group">Contact Email <br><%= f.text_field :contact_email, value: current_user.email %></div>
	<div class="form-group">Price <br><%= f.text_field :price %></div>
	<div class="form-group">Year <br><%= f.text_field :year %></div>
	<div class="form-group">Make <br><%= f.text_field :make %></div>
	<div class="form-group">Model <br><%= f.text_field :car_model %></div>
	<div class="form-group">Mileage <br><%= f.text_field :mileage %></div>
	<div class="form-group">Exterior Color <br><%= f.text_field :ext_color %></div>
	<div class="form-group">Interior Color <br><%= f.text_field :int_color %></div>
	<div class="form-group">Engine <br><%= f.text_field :engine %></div>
	<div class="form-group">Transmission <br><%= f.select(:transmission, ['-', 'Automatic', 'Manual']) %></div>
	<div class="form-group">Drivetrain <br><%= f.select(:drivetrain, ['-', 'Front Wheel Drive', 'Rear Wheel Drive', 'AWD/4WD']) %></div>
	<div class="form-group">Fuel <br><%= f.select(:fuel, ['-', 'Gasoline', 'Diesel', 'Hybrid', 'Electric', 'Alternative']) %></div>
	<div class="form-group">Doors <br><%= f.select(:door_count, ['-', 'Two Door', 'Three Door', 'Four Door', 'Five Door']) %></div>
	<div class="form-group">Description <br><%= f.text_field :description %></div>
	<div class="form-group">Upload Photo <br><%= f.file_field :picture %></div>
	<br>
	<div class="button"><%= f.submit "SUBMIT"%></div> 
</form>
<% end %>