<!DOCTYPE html>
<html>
<head>
  <title>Autoclassifieds</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if !current_user %>
    <li><%= link_to "Sign Up", new_user_path %></li>
    <li><%= link_to "Sign In", new_sessions_path %></li>
<% else %>
    <li><%= link_to "Sign Out", sessions_path, :method => :delete %></li>
<% end %>

<%= yield %>

</body>
</html>
